@import url('https://fonts.googleapis.com/css?family=Special+Elite|PT+Serif');



/* ----- Main elements------*/

body {
    background-color: #1a0000;
    color: #fff;
    font-family: 'PT Serif', serif;
}



h1,
h2{
    font-family: 'Special Elite', cursive;
}

h3 {font-family: 'Special Elite', cursive;
font-size: 1.3rem;}


a {
    color: #ff9999;
    transition: color,text-shadow 0.5s ease-in-out;
}

a:hover {
    color: #ff9999;
    text-shadow: 0px 0px 5px #fff;
    text-decoration: none;
}

.content {
    padding: 20px 30px 20px 30px;
}


.center {
    text-align: center;
}


/* ----- header------*/

header {
    height: auto;
    background-color: #660000;
    font-family: 'Special Elite', cursive;

}


.main-picture {
    background: url("../images/forestmono.jpg");
    opacity: 0.8;
    background-repeat: no-repeat;
    background-position: top;
    background-size: cover;
    min-height: 150px;
}

.logo {
    margin-top: 30px;


}

.logo a {
    font-size: 60px;
    line-height: 1em;
    font-weight: 500;
    color: #fff;
}

.subhead {
    margin-bottom: 10px;
}

.subhead p {
    font-size: 23px;
    line-height: 1.3em;

}

.navbar {
    margin-bottom: 20px;
    background: #f8f9fa;
    color: #000;
    font-weight: 900;

}

.navbar-nav {
    width: 100%;
}

.nav-item {
    width: 25%;
    text-align: left;

}



.navbar-light .navbar-nav .nav-link {
    letter-spacing: 2px;
    font-weight: 700;
    color: #1a0000;
    transition: all 1s ease-in-out;
}


.navbar-light .navbar-nav .active>.nav-link
{color: #660000;
    font-weight: 900;
}


.navbar-light .navbar-nav .nav-link:hover 

{color: #463939;
text-shadow: 0 0 8px #660000;}




/* ----- side-panel------*/

.sidebar {
    background-color: #463939;
}


/* ----- main content------*/

.white-block {
    background: #f8f9fa;
    width: 85%;
    position: relative;
    top: 50px;
    margin: 0px auto 100px auto;
-webkit-box-shadow: 0px 0px 40px 30px rgba(248,249,250,1);
-moz-box-shadow: 0px 0px 40px 30px rgba(248,249,250,1);
box-shadow: 0px 0px 40px 30px rgba(248,249,250,1);

   
    
   


    margin-top: -20px;

    color: #000;
}


.intro-phrase {font-family: 'Special Elite', cursive;
font-size: 1.1em;
font-weight: 600;
letter-spacing: 0.1em;
    line-height: 1em;
}

/* ----- footer -------*/

footer {
    background-color: #660000;}
    
.social-icon {
font-size: 1.5em;
width: 2.5em;

}    



/* ----- characters -------*/


.character img {width: 100%;}
        

.large {
    font-size: 1.5em;
}





.read-more {
    float: right;
    color: #000;
    background: #fff;
    padding: 0 10px;
    border-radius: 5%;
    font-weight: bold;
    margin: 5px;}
    

.timeline-item{
    padding: 0em 0em 1em 3em;
    position: relative;
    border-left: 3px solid;
    margin-left: 1em;
}


.timeline-item p{
    padding: 0;
    margin: 0;
}

.timeline-item::before{
    content: attr(dates);
    position: absolute;
    left: -1.2em;
    top: 50%;
    transform: translateY(-50%);
    display: block;
    font-weight: 500;
    font-family: 'Special Elite', cursive;
    font-size: 1.5em;
    background-color: #463939;
    padding-top: 0.2em;
}



    /* ----- media rules------*/
    @media (min-width: 992px) {
        .logo a {
            font-size:95px;
        }

        .nav-item {
            text-align: center;
         
        }
    }